In [4]:
print("helloworld")
print('helloworld')
print('hello"my"world')
print("hello'my'world")

helloworld
helloworld
hello"my"world
hello'my'world

In [5]:
print("hello\"my\"world")
print('hello\'my\'world')

hello"my"world
hello'my'world

In [6]:
print('line A \n line B \n line C')
print('line A \t line B \t line C')

line A
 line B
 line C
line A 	 line B 	 line C

In [7]:
print('line A \ backslash')
print('line A /\\/\\/\\/\\/\\ backslash')
print('line A \ backslash\\ double \\\\')

line A \ backslash
line A /\/\/\/\/\ backslash
line A \ backslash\ double \\

In [8]:
print('helll\bo')
print('line A \\n line B \\n line C\\t')
print('line A \\\' \\\" backslash')
print('line A \\\' \\n \\t \\\" backslash')
print(r'line A \\\' \\n \\t \\\" backslash')

helllo
line A \n line B \n line C\t
line A \' \" backslash
line A \' \n \t \" backslash
line A \\\' \\n \\t \\\" backslash

In [9]:
print("\U0001F602")
print("\U0001F604")
print("\U0001F618")

ðŸ˜‚
ðŸ˜„
ðŸ˜˜

In [10]:
print(2/4)  #float division
print(2//4) #integer division
print(5//4) #integer division

0.5
0
1

In [11]:
print(2**4)
print(2**0.5)
print(2**4**2)

16
1.4142135623730951
65536

In [13]:
print(round(2**0.5,5))  #round off till 5 place of decimal

1.41421

In [14]:
print(2**3+5/2*6+(25/2+5))  #bodmas rule

40.5

In [15]:
var1=23
print(var1)

23

In [17]:
var1="hello"
print(var1)

hello

In [18]:
__var1="hello"
print(__var1)

hello

In [20]:
hello_world="hw"    #this case used in python (snake case)
print(hello_world)

hw

In [21]:
helloWorld="hw"     #this case used in java(camel case)
print(helloWorld)

hw

In [22]:
print("line A")
print("line B")
print("line A\nline B")

line A
line B
line A
line B

In [23]:
fname="ashwani"
lname="kumar"
print(fname+" "+lname)

ashwani kumar

In [27]:
fname="ashwani"
lname="kumar"
age=24
print(fname+" "+lname+" "+str(age)) #cant concatenate string with number so, convert int into string

ashwani kumar 24

In [28]:
fname="ashwani"
print(fname*5)

ashwaniashwaniashwaniashwaniashwani

In [29]:
myname=input("enter your name : ")
print(myname * 5)

enter your name : ashwani kumar
ashwani kumarashwani kumarashwani kumarashwani kumarashwani kumar

In [30]:
myage=input("enter your age : ")
print("my age is : " + myage)   #input function takes everything as string
print(int(myage)+5)             #convert string to integer

enter your age : 25
my age is : 25
30

In [31]:
n1="52"
n2="77"
n3="5"
print(float(n2)+float(n3)+float(n1))
print(int(n2)+int(n3)+int(n1)+float(n2))

134.0
211.0

In [32]:
name, age = "ashwani kumar" , 24
print("my name is : "+" "+ name +" "+"and my age is : "+ str(age))

my name is :  ashwani kumar and my age is : 24

In [33]:
x=y=z=a=b=c=1
print(x+y+z+a+b+c)

6

In [35]:
name,age=input("enter your name and age : ").split()
print("my name is : " + name + " and my age is : " + age)

enter your name and age : ashwani 24
my name is : ashwani and my age is : 24

In [4]:
name,age=input("enter your name and age : ").split(",")

print("my name is : " + name + " and my age is : " + age)

print("hello my name is : {} and my age is : {}".format(name, age))

print(f"hello my name is : {name} and my age is : {age}")

print(f"hello my name is : {name} and my age is : {int(age)+10}")

enter your name and age : ashwani kumar ,24
my name is : ashwani kumar  and my age is : 24
hello my name is : ashwani kumar  and my age is : 24
hello my name is : ashwani kumar  and my age is : 24
hello my name is : ashwani kumar  and my age is : 34

In [5]:
num1,num2,num3=input("enter 3 numbers : ").split(",")

avg=(int(num1)+int(num2)+int(num3))/3

print(f"average of three numbers is : {avg}")

enter 3 numbers : 12,33,44
average of three numbers is : 29.666666666666668

In [39]:
name="ashwani kumar"
print(name[5]+name[7])
print(name[5]+name[-7])

n
ni

In [40]:
name="ashwani kumar"
print(name[0:10])
print(name[:10])
print(name[5:10])
print(name[-5:5])
print(name[:])
print(name[2:])

ashwani ku
ashwani ku
ni ku

ashwani kumar
hwani kumar

In [41]:
print("ashwani"[4:])
print("ashwani"[0:5:2]) #step wise jump
print("ashwani"[::2]) #step wise jump
print("ashwani"[::-2]) #step wise jump
print("ashwani"[::-1]) #step wise jump and reverse a string

ani
aha
ahai
iaha
inawhsa

In [42]:
username=input("enter your name : ")
print("reverse of username is : " + username[::-1])

enter your name : ashwani kumar
reverse of username is : ramuk inawhsa

In [43]:
name="ashwani KUMAR"
print(len(name))
print(name.lower())
print(name.upper())
print(name.title())
print(name.count("A"))

13
ashwani kumar
ASHWANI KUMAR
Ashwani Kumar
1

In [48]:
username,character=input("enter username and a character : ").split(",")
print(len(username))
print(username.strip().lower().count(character))

enter username and a character : ashwani kumar,a
13
3

In [49]:
fname="     ashwani      "
lname="     kumar             "
print(fname+lname)
print(fname.lstrip()+lname.rstrip())
print(fname.strip()+" "+lname.strip())#remove space from front and back of the word

     ashwani           kumar
ashwani           kumar
ashwani kumar

In [21]:
username="hello this is ashwani here and i am coding in python"
print(username.replace(" ","")) 
print(username.replace(" ","_"))
print(username.replace("is","was"))
print(username.replace("ani","in", 1))#1 is number of times it will replace

hellothisisashwanihereandiamcodinginpython
hello_this_is_ashwani_here_and_i_am_coding_in_python
hello thwas was ashwani here and i am coding in python
hello this is ashwin here and i am coding in python

In [25]:
username="hello this is ashwani here and i am coding in python"
print(username.find("this"))
print(username.find("i", 5)) #use number to start finding from 5th position
is_pos1=username.find("is")
is_pos2=username.find("is", is_pos1+1)
print("first found at : "+ str(is_pos1)+" "+" and second found at : " + str(is_pos2))

6
8
first found at : 8  and second found at : 11

In [34]:
name="ashwani"
print(name.center(len(name)+10,"@"))

@@@@@ashwani@@@@@

In [36]:
name="ashwani kumar"
print(name.title())  #this will change first character of the coming string

Ashwani Kumar

In [37]:
fname,lname=input("enter fname and lname : ").split(" ")
fullname=fname+" "+lname
print(fullname)
print(fullname.center(len(fullname)+4,"%"))

enter fname and lname : ashwani kumar
ashwani kumar
%%ashwani kumar%%

In [39]:
name="ashwani kumar" 
name[2]='t' # it shows error bcz strings are immutable in nature
print(name)

TypeError: 'str' object does not support item assignment

In [40]:
name="ashwani kumar" 
newname=name.replace("ani","in") #but we can use old string to make a new string with different variable name
print(newname)

ashwin kumar

In [42]:
name="ashwani"
name+=" kumar"  #we can concatenate anything into string but cant change character in readymade strings
print(name)

ashwani kumar

In [43]:
age=int(input("enter your age : "))
age*=4
age+=4
age/=4
age**=4
age-=4
print(age)

enter your age : 25
456972.0

In [46]:
age=input("enter your age :")
if int(age)>=20:
    print("you are 20 or more than 20 ")
else:
    print("you are younger than 20")

enter your age :20
you are 20 or more than 20

In [53]:
age=int(input("enter your age :"))
if age==20:
    pass
else:
    if age>20:
        print("you are younger than 20")
    else:
        print("ok")

enter your age :20

In [55]:
name,age=input("enter your name and age :").split(",")
age=int(age)
if name=="ashwani" and age==25:
    print("this is {} who is {} years old".format(name,age))
else:
    if name =="sumit" and age==20:
        print("this is {} who is {} years old".format(name,age))
    else:
        print("sorry, we did not identify you")

enter your name and age :ashwani,25
this is ashwani who is 25 years old

In [57]:
name,age,place=input("enter your name, age, place you live in :").split(",")
age=int(age)
if name=="ashwani" and age==25 and (place=="sagarpur" or place=="delhi"):
    print("this is {} who is {} years old and you are living at {}".format(name,age,place)) 
else:
    if name =="sumit" and age==20 and (place=="sagarpur" or place=="delhi"):
        print("this is {} who is {} years old and you are living at {}".format(name,age,place))
    else:
        print("sorry, we did not identify you")

enter your name, age, place you live in :sumit,20,sagarpur
this is sumit who is 20 years old and you are living at sagarpur

In [61]:
age=int(input("enter your age :"))
if age==0 or age<0:
    print("invalid input:please input age greater than 0")
elif age>0 and age<=3:
    print("ticket price: 0rs")
elif age>3 and age<=10:
    print("ticket price: 150rs")
elif age>10 and age<=16:
    print("ticket price: 250rs")    
else:
    print("ticket price: 200rs")

enter your age :10
ticket price: 150rs

In [63]:
age=int(input("enter your age :"))
if age<=0:
    print("invalid input:please input age greater than 0")
elif 0<age<=3:
    print("ticket price: 0rs")
elif 3<age<=10:
    print("ticket price: 150rs")
elif 10<age<=16:
    print("ticket price: 250rs")    
else:
    print("ticket price: 200r|s")

enter your age :0
invalid input:please input age greater than 0

In [65]:
string=input("enter something into string : ")
if string:
    print(f"you have input:{string}")
else:
    print("you did not input anything into string")

enter something into string :
you did not input anything into string

In [68]:
string,loop=input("enter something into string and loops number: ").split(",")
loop=int(loop)
i=0
while 0<loop<=100:
    i+=1
    if string:
        print(f"you have input:{string} and loop number is: {i}")
        loop-=1

enter something into string and loops number: fuck off,20
you have input:fuck off and loop number is: 1
you have input:fuck off and loop number is: 2
you have input:fuck off and loop number is: 3
you have input:fuck off and loop number is: 4
you have input:fuck off and loop number is: 5
you have input:fuck off and loop number is: 6
you have input:fuck off and loop number is: 7
you have input:fuck off and loop number is: 8
you have input:fuck off and loop number is: 9
you have input:fuck off and loop number is: 10
you have input:fuck off and loop number is: 11
you have input:fuck off and loop number is: 12
you have input:fuck off and loop number is: 13
you have input:fuck off and loop number is: 14
you have input:fuck off and loop number is: 15
you have input:fuck off and loop number is: 16
you have input:fuck off and loop number is: 17
you have input:fuck off and loop number is: 18
you have input:fuck off and loop number is: 19
you have input:fuck off and loop number is: 20

In [69]:
number=input("enter your number: ")
i=0
sum=0
l=len(number)-1
while i<=l:
    sum=sum+int(number[i])
    i=i+1
print("sum:" + str(sum))

enter your number: 23423453245234532
sum:56

In [70]:
name=input("enter your name :")
i=0
while i<=(len(name)-1):
    print(name.count(name[i]))
    i+=1

enter your name :ashwani kumar
3
1
1
1
3
1
1
1
1
1
1
3
1

In [ ]:
first,second=input("enter first and second number :").split(",")
first=int(first)
second=int(second)
while first<=second:
    print(f"{str(first)} * {str(second)} = {str(first*second)}")
    first+=1
    second+=1
# user control+c to break infinite loop

In [ ]:
while True:    #to run infinte loop   (T will be capital else it not works)
    print("helloworld")

In [3]:
while False:   #(F will be capital else it not works)
    print("helloworld")

In [6]:
for i in range(10):
    print(f"helloworld{i}")

helloworld0
helloworld1
helloworld2
helloworld3
helloworld4
helloworld5
helloworld6
helloworld7
helloworld8
helloworld9

In [8]:
for i in range(11,20):
    print(f"helloworld{i}")

helloworld11
helloworld12
helloworld13
helloworld14
helloworld15
helloworld16
helloworld17
helloworld18
helloworld19

In [11]:
n=int(input("enter the number : "))
total=0
for i in range(1,n+1):
    total+=i
    print(f"sum is : {str(total)}")

enter the number : 10
sum is : 1
sum is : 3
sum is : 6
sum is : 10
sum is : 15
sum is : 21
sum is : 28
sum is : 36
sum is : 45
sum is : 55

In [14]:
n=input("enter the number: ")
total=0
for i in range(0,len(n)):
    total=total+int(n[i])
print("total : " + str(total))

enter the number: 121212121211
total : 17

In [18]:
name=input("enter the string : ")
temp=""
for i in range(len(name)):
    if name[i] not in temp:
        print(f"characeter:{name[i]} and {str(name.count(name[i]))}")
        temp+= name[i]

enter the string : ashwani kumar
characeter:a and 3
characeter:s and 1
characeter:h and 1
characeter:w and 1
characeter:n and 1
characeter:i and 1
characeter:  and 2
characeter:k and 1
characeter:u and 1
characeter:m and 1
characeter:r and 1

In [22]:
for i in range(1,11):
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [1]:
def quit_game():
    print("thank you for playing")
    
def input_values():
    number=int(input("guess a number between 1 and 100: "))
    winning_number=int(input("let other player type the winning number:"))
    guess=1
    game_over=False

def play():
    while game_over==False:
        if number==winning_number:
            print(f"you win, and you guessed this number in {guess}th time")
            game_over=True
        else:
            if number<winning_number:
                print("guessed number is too low")
                play_quit=input("Type 'guess' to guess again or Type 'play' to play a new game or Type 'quit' to quit the game:")
                if play_quit=='guess':
                    number=int(input("enter number to guess again:"))
                    game_over==False
                elif play_quit=='play':
                    input_values()
                    play()
                elif play_quit=='quit':
                    quit_game()
            else:
                print("guessed number is too high")
                play_quit=input("Type 'guess' to guess again or Type 'play' to play a new game or Type 'quit' to quit the game:")
                if play_quit=='guess':
                    number=int(input("enter number to guess again:"))
                    game_over==False
                elif play_quit=='play':
                    input_values()
                    play()
                elif play_quit=='quit':
                    quit_game()
    guess +=1

game=input("type 'start' to start the game:")
if game=='start':
    input_values()
    play()
elif game=='':
    print("you have entered wrong input value")
    game=input("please type 'start' to start the game:")
    if game=='start':
        input_values()
        play()
    else:
        print("sorry you have input wrong field again , please come back again after some time")
else:
    print("you have typed the wrong input")

        
if game_over==True:
    play_quit=input("type 'play' to play a new game else type 'quit':")
    if play_quit=='play':
        input_values()
        play()
    elif play_quit=='quit':
        quit_game()

type 'start' to start the game:hello
you have typed the wrong input

NameError: name 'game_over' is not defined

In [6]:
num=input("enter a number : ")
total=0
for i in num:
    total+= int(i)
print(str(total))

enter a number : 2323
10

In [7]:
for i in "mohit":
    print(i)

m
o
h
i
t

In [13]:
def sum(p,q):
    sum=p+q
    return sum
a,b=input("enter numbers a and b : ").split(",")
print(str(sum(int(a),int(b))))

enter numbers a and b : 1,2
3

In [14]:
def last_char(name):
    return name[-1]
print(last_char("ashwani kumar"))

r

In [15]:
def odd_even(num):
    if num%2==0:
        print("even number")
    else:
        print("odd number")
num=int(input("enter the number : "))
odd_even(num)

enter the number : 5
odd number

In [16]:
def odd_even(num):
    if num%2==0:
        return "even"
    return "odd"
num=int(input("enter the number :"))
print(odd_even(num))

enter the number :5
odd

In [17]:
def is_even(num):
    return num%2==0
print(is_even(10))

True

In [18]:
def song():
    return "helloWorld"
print(song())

helloWorld

In [21]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
a=int(input("enter first number: "))
b=int(input("enter second number: "))
bigger=greater(a,b)
print(f"{bigger} is greatest among all")

enter first number: 44
enter second number: 55
55 is greatest among all

In [26]:
def greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
def new_greatest(a,b,c):
    return greater(greater(a,b), c)
def greater(a,b):
    if a>b:
        return a
    else:
        return b
print(new_greatest(10,20,30))
print(greatest(10,20,30))

30
30

In [28]:
def is_palindrom(word):
        return word == word[::-1]

print(is_palindrom("naman"))
print(is_palindrom("horse"))

True
False

In [33]:
for i in range(1,11):
    print(i, end = "")

12345678910

In [34]:
for i in range(1,11):
    print(i, end = "\n")

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [40]:
for i in range(1,11):
    if i==10:
        print('10')
    else:
        print(i, end = ",")

1,2,3,4,5,6,7,8,9,10

In [51]:
def fibonacci_seq(n):
    a=0
    b=1
    if n==1:
        print(a)
    elif n==2:
        print(f"{a} {b}")
    else:
        print(a,b,end=" ")
        for i in range(n-2):
            c=a+b
            a=b
            b=c
            print(b, end=" ")

n=int(input("enter the number of sequence:"))
fibonacci_seq(n)

enter the number of sequence:10
0 1 1 2 3 5 8 13 21 34

In [54]:
def user_info(first_name,last_name,age=23):
    print(f"{first_name}")
    print(f"{last_name}")
    print(f"{age}")
user_info('ashwani', 'sumit')

ashwani
sumit
23

In [55]:
def user_info(first_name,last_name,age=23):
    print(f"{first_name}")
    print(f"{last_name}")
    print(f"{age}")
user_info('harshit', 'vashista', 24)

harshit
vashista
24

In [56]:

def user_info(first_name,last_name='unknown',age=None):#default arguments only exists in the last
    print(f"{first_name}")
    print(f"{last_name}")
    print(f"{age}")
user_info('harshit')

harshit
unknown
None

In [58]:
def user_info(first_name=None,last_name=None,age=None):
    print(f"{first_name}")
    print(f"{last_name}")
    print(f"{age}")
user_info()

None
None
None

In [59]:
def func():
    x=7 #local variable
    print(x)
print(x)

NameError: name 'x' is not defined

In [60]:
x=8 #global variable
def func():
    x=7 #local variable
    print(x)
func()
print(x)

7
8

In [61]:
x=8 #global variable
def func():
    global x
    print(x)
func()
print(x)

8
8

In [62]:
numbers=[1,2,3,4]
print(numbers)

[1, 2, 3, 4]

In [63]:
words=['word1','word2','word3']
print(words)

['word1', 'word2', 'word3']

In [64]:
words=["word1","word2","word3"]
print(words)

['word1', 'word2', 'word3']

In [65]:
mixed=[1,2,3,4,"five","six", 2.3, None]
print(mixed)

[1, 2, 3, 4, 'five', 'six', 2.3, None]

In [69]:
mixed=[1,2,3,4,"five","six", 2.3, None]
print(mixed[7])

None

In [70]:
mixed=[1,2,3,4,"five","six", 2.3, None]
print(mixed[:2])

[1, 2]

In [71]:
mixed=[1,2,3,4,"five","six", 2.3, None]
print(mixed[:-1])

[1, 2, 3, 4, 'five', 'six', 2.3]

In [72]:
mixed=[1,2,3,4,"five","six", 2.3, None]
print(mixed[-1])

None

In [79]:
mixed[0:]=['two','three','four']
print(mixed)

['two', 'three', 'four']

In [80]:
fruits=['grapes','apples']
fruits.append('mango')
print(fruits)

['grapes', 'apples', 'mango']

In [11]:
fruits=[]
fruits.append('mango')
print(fruits)

['mango']

In [14]:
fruits2=['abc','def','ghi']
fruits2.insert(1,"grapes")
print(fruits2)

['abc', 'grapes', 'def', 'ghi']

In [15]:
fruits1=['abc','def','ghi']
fruits2=['x','y','z']
print(fruits1+fruits2)

['abc', 'def', 'ghi', 'x', 'y', 'z']

In [20]:
fruits1=['abc','def','ghi']
fruits2=['x','y','z']
fruits1.extend(fruits2)
print(fruits1)

['abc', 'def', 'ghi', 'x', 'y', 'z']
['abc', 'def', 'ghi', 'x', 'y', 'z', ['x', 'y', 'z']]

In [21]:
fruits1=['abc','def','ghi']
fruits2=['x','y','z']
fruits1.append(fruits2) 
print(fruits1)

['abc', 'def', 'ghi', ['x', 'y', 'z']]

In [22]:

fruits2=['x','y','z']
fruits2.pop()

'z'

In [23]:
fruits1=['abc','def','ghi']
fruits1.pop(1)

'def'

In [26]:
fruits1=['abc','def','ghi']
del fruits1[1]
print(fruits1)

['abc', 'ghi']

In [28]:
fruits2=['abc','def','ghi']
fruits2.remove('abc') #it removes only first occurence of a particular keyword
print(fruits2)

['def', 'ghi']

In [29]:
fruits1=['hello','world','sonu']
if "hello" in fruits1:
    print("hello is present in fruits1")
else:
    print("not present")

hello is present in fruits1

In [30]:
fruits1=['hello','world','sonu']
print(fruits1.count('hello'))

1

In [31]:
fruits1=['hello','world','sonu']
fruits1.sort()
print(fruits1)

['hello', 'sonu', 'world']

In [32]:
fruits1=['hello','world','sonu']
print(sorted(fruits1))

['hello', 'sonu', 'world']

In [33]:
fruits1=['hello','world','sonu']
fruits1.clear()
print(fruits1)

[]

In [34]:
fruits1=['hello','world','sonu']
fruits_copy=fruits1.copy() 
print(fruits_copy)

['hello', 'world', 'sonu']

In [35]:
fruits1=['hello','world','sonu','ashwani','kumar']
fruits2=['hello','world','sonu','ashwani','kumar']
print(fruits1==fruits2)     #values are equal

True

In [36]:
fruits1=['hello','world','sonu','ashwani','kumar']
fruits2=['hello','world','sonu','ashwani','kumar']
print(fruits1 is fruits2)   #different object references

False

In [39]:
s="hello"
t=s.title()
print(t)
print(s) #there will be no change in the original string

Hello
hello

In [40]:
fruits=['a','b','c','d','e']
for i in fruits:
    print(i)

a
b
c
d
e

In [41]:
fruits=['a','b','c','d','e']
i=0
while i<len(fruits):
    print(fruits[i])
    i+=1

a
b
c
d
e

In [44]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])

[1, 2, 3]

In [43]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [45]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
    for i in sublist:
        print(i)

1
2
3
4
5
6
7
8
9

In [46]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0][0])
print(matrix[1][1])
print(matrix[2][2])

1
5
9

In [47]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(type(matrix))

<class 'list'>

In [48]:
s="string"
print(type(s))

<class 'str'>

In [49]:
numbers=list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [50]:
numbers=list(range(1,11))
popped_item=numbers.pop()
print(popped_item)

10

In [51]:
numbers=list(range(20,40))
print(numbers.index(20))

0

In [56]:
def negative_list(l):
    negative=[]
    for i in l:
        negative.append(-i)
    return negative
numbers=[1,2,3,4,1,3]
print(negative_list(numbers))

[-1, -2, -3, -4, -1, -3]

In [57]:
def square_list(l):
    square=[]
    for i in l:
        square.append(i**2)
    return square
numbers=list(range(1,11))
print(square_list(numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
def reverse_list(l):
    l.reverse()
    return l

numbers=[1,2,3,4]
print(reverse_list(numbers))

[4, 3, 2, 1]

In [61]:
def reverse_list(l):
    return l[::-1]
numbers=[1,2,3,4]
print(reverse_list(numbers))

[4, 3, 2, 1]

In [62]:
def reverse_list(l):
    r_list=[]
    for i in range(len(l)):
        popped_item=l.pop()
        r_list.append(popped_item)
    return r_list
numbers=[1,2,3,4]
print(reverse_list(numbers))

[4, 3, 2, 1]

In [63]:
def reverse_elements(l):
    elements=[]
    for i in l:
        elements.append(i[::-1])
    return elements
words=['abc','tuv','xyz']
print(reverse_elements(words))

['cba', 'vut', 'zyx']

In [66]:
def filter_odd_even(l):
    odd_nums=[]
    even_nums=[]
    for i in l:
        if i%2==0:
            even_nums.append(i)
        else:
            odd_nums.append(i)
    output=[odd_nums, even_nums]
    return output
nums=[1,2,3,4,5,6,7]
print(filter_odd_even(nums))

[[1, 3, 5, 7], [2, 4, 6]]

In [67]:
def common_finder(l1,l2):
    output=[]
    for i in l1:
        if i in l2:
            output.append(i)
    return output
print(common_finder([1,2,5,8],[1,2,7,6]))

[1, 2]

In [71]:
numbers=[6,4,3,2]
numbers.extend([8,9])
print(numbers)

[6, 4, 3, 2, 8, 9]

In [72]:
numbers=[6,4,3,2]
numbers.insert(1,"inserted")
print(numbers)

[6, 'inserted', 4, 3, 2]

In [75]:
numbers=[6,4,3,2]
def greatest_diff(l):
    return max(l)-min(l)
print(greatest_diff(numbers))

4

In [74]:
numbers=[6,4,3,2]
print(min(numbers))
print(max(numbers))

2
6

In [76]:
def sublist_counter(l):
    count=0
    for i in l:
        if type(i)==list:
            count+=1
    return count
mixed=[1,2,3,[1,2],[3,4]]
print(sublist_counter(mixed))

2

In [77]:
example=('one','two','three')
for i in example:
    print(i)

one
two
three

In [79]:
l=(1)
print(type(l))

l=(1,)
print(type(l))

l=('words')
print(type(l))

l=('words',)
print(type(l))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [80]:
guitars= 'hello', 'world', 'this'
print(type(guitars))

<class 'tuple'>

In [81]:
g=('ashwani','kumar','sonu')
g1,g2,g3=(g)
print(g1)
print(g2)
print(g3)

ashwani
kumar
sonu

In [82]:
f=('southern magnolia',['tokyo ghoul theme','landscape'])
f[1].pop()
f[1].append("we made it")
print(f)

('southern magnolia', ['tokyo ghoul theme', 'we made it'])

In [83]:
l=(0,1,2,3)
print(min(l))
print(max(l))
print(sum(l))
print(len(l))

0
3
6
4

In [87]:
def func(int1,int2):
	add=int1+int2
	mul=int1*int2
	div=int1/int2
	return add,mul,div
add,multiply,divide=func(int(input("enter a:")),int(input("enter b:")))
print(add)
print(multiply)
print(divide)

enter a:1
enter b:2
3
2
0.5

In [89]:
print(list(range(1,11)))
print(tuple(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [95]:
nums=(1,2,3,4,5)
nums=list(nums)
nums=str(nums)
print(nums)
print(type(nums))

[1, 2, 3, 4, 5]
<class 'str'>

In [97]:
numlist=str([1,2,3])
print(numlist)
print(type(numlist))

[1, 2, 3]
<class 'str'>

In [99]:
mixed2=(1,2,3,4,5,[1,2,3])
mixed2[5].pop()
print(mixed2)

(1, 2, 3, 4, 5, [1, 2])

In [100]:
user={'name':'harshit','age':24}
print(user)
print(type(user))

{'name': 'harshit', 'age': 24}
<class 'dict'>

In [101]:
user1=dict(name='harshit',age=24)
print(user1)
print(user1['name'])
print(user1['age'])

{'name': 'harshit', 'age': 24}
harshit
24

In [102]:
user_info={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}
print(user_info)
print(user_info['fav_movies'])

{'name': 'harshit', 'age': 24, 'fav_movies': ['hello', 'world'], 'fav_tunes': ['ashwani', 'kumar']}
['hello', 'world']

In [108]:
user_info={}
user_info['name']='mohit'
user_info['age']=19
print(user_info)

{'name': 'mohit', 'age': 19}

In [109]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}
if 'name' in info2:
	print('present')
else:
	print('not present')

present

In [110]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}
if 'harshit' in info2.values():
	print('present')
else:
	print('not present')

present

In [111]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}
if 24 in info2.values():
	print('present')
else:
	print('not present')

present

In [112]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}

if ['hello','world'] in info2.values():
	print('present')
else:
	print('not present')

present

In [116]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}

for i in info2:
	print(i)
for i in info2.values():
	print(i)

user_values=info2.values()
print(user_values)
print(type(user_values))

user_values=info2.keys()
print(user_values)
print(type(user_values))

user_values=info2.items()
print(user_values)
print(type(user_values))

name
age
fav_movies
fav_tunes
harshit
24
['hello', 'world']
['ashwani', 'kumar']
dict_values(['harshit', 24, ['hello', 'world'], ['ashwani', 'kumar']])
<class 'dict_values'>
dict_keys(['name', 'age', 'fav_movies', 'fav_tunes'])
<class 'dict_keys'>
dict_items([('name', 'harshit'), ('age', 24), ('fav_movies', ['hello', 'world']), ('fav_tunes', ['ashwani', 'kumar'])])
<class 'dict_items'>

In [117]:
info2={
	'name':'harshit',
	'age':24,
	'fav_movies':['hello','world'],
	'fav_tunes':['ashwani','kumar']
	}
for key,value in info2.items():
	print(f"key is {key} and value is {value}")

key is name and value is harshit
key is age and value is 24
key is fav_movies and value is ['hello', 'world']
key is fav_tunes and value is ['ashwani', 'kumar']

In [118]:
# user_info={
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
print(user_info)
user_info['skills']=['sass','csharp']
# print(user_info)
user_info['hobbies']=['games','programming','songs','cricket']
print(user_info)

{'name': 'ashwani', 'age': '24', 'skills': ['c', 'c++', 'java', 'python', 'html', 'css', 'bootstrap', 'php', 'sql']}
{'name': 'ashwani', 'age': '24', 'skills': ['sass', 'csharp']}
{'name': 'ashwani', 'age': '24', 'skills': ['sass', 'csharp'], 'hobbies': ['games', 'programming', 'songs', 'cricket']}

In [4]:
d=dict.fromkeys(['name','hobbies'],'unknown')
print(d)

d=dict.fromkeys(('name','hobbies'),'unknown')
print(d)

d=dict.fromkeys(('123'),'unknown')
print(d)

d=dict.fromkeys(('xyz'),'unknown')
print(d)

d=dict.fromkeys(range(1,11),'unknown')
print(d)

d=dict.fromkeys(['names','age'],['unknown','unknown'])
print(d)

{'name': 'unknown', 'hobbies': 'unknown'}
{'name': 'unknown', 'hobbies': 'unknown'}
{'1': 'unknown', '2': 'unknown', '3': 'unknown'}
{'x': 'unknown', 'y': 'unknown', 'z': 'unknown'}
{1: 'unknown', 2: 'unknown', 3: 'unknown', 4: 'unknown', 5: 'unknown', 6: 'unknown', 7: 'unknown', 8: 'unknown', 9: 'unknown', 10: 'unknown'}
{'names': ['unknown', 'unknown'], 'age': ['unknown', 'unknown']}

In [5]:
new_info={ 
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
print(new_info.get('names')) #return None
print(new_info.get('name'))

None
ashwani

In [6]:
new_info={ 
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
if new_info.get('names'):
	print("present")
else:
	print("it is not present")

it is not present

In [7]:
info={ 
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
info.clear()
print(info)

{}

In [8]:
info1={ 
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
info2=info1.copy()
print(info2)
print(info1 is info2)

{'name': 'ashwani', 'age': '24', 'skills': ['c', 'c++', 'java', 'python', 'html', 'css', 'bootstrap', 'php', 'sql']}
False

In [9]:
info1={ 
	'name':'ashwani',
	'age':'24',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
info2=info1
print(info1)
print(info2)
info1.clear()
print(info1)
print(info2)
print(info2 is info1)

{'name': 'ashwani', 'age': '24', 'skills': ['c', 'c++', 'java', 'python', 'html', 'css', 'bootstrap', 'php', 'sql']}
{'name': 'ashwani', 'age': '24', 'skills': ['c', 'c++', 'java', 'python', 'html', 'css', 'bootstrap', 'php', 'sql']}
{}
{}
True

In [17]:
info1={ 
	'name':'ashwani',
	'age':'24',
	'age':'23',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
print(info1.get('names','key not found!'))
print(info1.get('age','key not found!'))

key not found!
23

In [18]:
info1={ 
	'name':'ashwani',
	'age':'24',
	'age':'23',
	'skills':['c','c++','java','python','html','css','bootstrap','php','sql']
	}
print(info1)	#later key-value will overwrite first key value

{'name': 'ashwani', 'age': '23', 'skills': ['c', 'c++', 'java', 'python', 'html', 'css', 'bootstrap', 'php', 'sql']}

In [19]:
def word_counter(s):
	d={}
	for i in s:		#each character comes in i
		d[i]=s.count(i)	#count the character in string
	return d
print(word_counter("ashwanikumar"))

{'a': 3, 's': 1, 'h': 1, 'w': 1, 'n': 1, 'i': 1, 'k': 1, 'u': 1, 'm': 1, 'r': 1}

In [23]:
mydetails={}
name=input("enter your name:")
age=input("enter your age:")
hobbies=input("enter your hobbies:").split(',')
mydetails['name']=name
mydetails['age']=age
mydetails['hobbies']=hobbies
print(mydetails)
for key,value in mydetails.items():
	print(f"{key}:{value}")

enter your name:ashwani kumar
enter your age:24
enter your hobbies:cricket,football
{'name': 'ashwani kumar', 'age': '24', 'hobbies': ['cricket', 'football']}
name:ashwani kumar
age:24
hobbies:['cricket', 'football']

In [37]:
s={1,2,3,4,5,1,2,3,2}		#sets are unordered collection
l=list(s)
print(l)
s=set(l)
print(s)
s.add(4)
print(s)
s.add(5)
print(s)
s.add(9)
print(s)
s.remove(9)     #if key is not availabe then it will show error
print(s)
s.discard(4)    #it will not show errors  if keys not available
print(s)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 9}
{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [39]:
s={1,2,3,4,5,1,2,3,2}		#sets are unordered collection
s.clear()
print(s)
s1=s.copy()
print(s1)

set()
set()

In [40]:
s={1,1.0,2.3,'string'}	#order not matters
print(s)

{2.3, 1, 'string'}

In [41]:
s={'a','b','c'}
if 'a' in s:
	print("present")
else:
	print("not present")
for i in s:
	print(i)

present
b
c
a

In [42]:
s1={1,2,3,4,5}
s2={4,5,65,6}
union_set=s1|s2
print(union_set)
intersection_set=s1&s2
print(intersection_set)

{1, 2, 3, 4, 5, 65, 6}
{4, 5}

In [47]:
squares=[]
for i in range(1,11):
	squares.append(i**2)
print(squares)
# or
square2=[i**2 for i in range(1,11)]
print(square2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
negative=[]
for i in range(1,11):
	negative.append(-i)
print(negative)
# or
new_negative=[-i for i in range(1,11)]
print(new_negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [52]:
names=['harshit','mohit','rohit']
new_list1=[]
new_list2=[]
for name in names:
	new_list1.append(name[0])
print(new_list1)
# or
new_list2=[name[0] for name in names]
print(new_list2)

['h', 'm', 'r']
['h', 'm', 'r']

In [56]:
def reverse_str(l):
	new_list=[]
	for name in l:
		new_list.append(name[::-1])
	return new_list
print(reverse_str(['abc','tuv','xyz']))

# or

def reverse_strings(l):
	return [name[::-1] for name in l]
print(reverse_strings(['abc','tuv','xyz']))

['cba', 'vut', 'zyx']
['cba', 'vut', 'zyx']

In [60]:
numbers=list(range(1,11))
nums=[]
for i in numbers:
	if i%2==0:
		nums.append(i)
print(nums)

# or

print([i for i in numbers if i%2==0])
print([i for i in range(1,11) if i%2!=0])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [61]:
def num_to_string(l):
	return [str(i) for i in l if (type(i)==int or type(i)==float)]

print(num_to_string([True, False, [1,2,3],1,1.0,3]))

['1', '1.0', '3']

In [65]:
nums=[1,2,3,4,5]
new_list=[]
for i in nums:
	if i%2==0:
		new_list.append(i*2)
	else:
		new_list.append(-i)
print(new_list)

# or

nums=[1,2,3,4,5,6,7,8,9]
new_list2=[i*2 if (i%2==0) else -i for i in nums]
print(new_list2)

[-1, 4, -3, 8, -5]
[-1, 4, -3, 8, -5, 12, -7, 16, -9]

In [70]:
new_list=[]
for j in range(3):
	new_list.append([1,2,3])
print(new_list)

# or

print([[i for i in range(1,4)] for j in range(0,3)])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [72]:
print({num:num**2 for num in range(1,11)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [75]:
square={f"square of {num} is":num**2 for num in range(1,11)}
print(square)

for k,v in square.items():
	print(f"{k}:{v}")

{'square of 1 is': 1, 'square of 2 is': 4, 'square of 3 is': 9, 'square of 4 is': 16, 'square of 5 is': 25, 'square of 6 is': 36, 'square of 7 is': 49, 'square of 8 is': 64, 'square of 9 is': 81, 'square of 10 is': 100}
square of 1 is:1
square of 2 is:4
square of 3 is:9
square of 4 is:16
square of 5 is:25
square of 6 is:36
square of 7 is:49
square of 8 is:64
square of 9 is:81
square of 10 is:100

In [78]:
string="ashwani"
word_count={char:string.count(char) for char in string}
print(word_count)

{'a': 2, 's': 1, 'h': 1, 'w': 1, 'n': 1, 'i': 1}

In [81]:
odd_even={i:('even' if i%2==0 else 'odd') for i in range(1,11)}
print(odd_even)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

In [84]:
s={k**2 for k in range(1,11)}	#order does not matter in set
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [85]:
names=['harshit','mohit','rohit']
first={name[0] for name in names}
print(first)

{'m', 'h', 'r'}

In [86]:
def arguments(*args):
	print(args)
	print(type(args))
arguments(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [90]:
def all_total(*args):
	total=0
	for num in args:
		total+=num
	return total
print(all_total(1,2,3,4))

10

In [91]:
def multiply_nums(num,*args):
	multiply=1
	print(num)
	print(args)
	for i in args:
		multiply*=i
	return multiply
print(multiply_nums(1,3,2,2,2))

1
(3, 2, 2, 2)
24

In [92]:
def multiply_nums(*args):
	multiply=1
	print(args)
	for i in args:
		multiply*=i
	return multiply
print(multiply_nums())

()
1

In [93]:
def multiply_nums(n1,n2,*args):
	multiply=1
	print(n1+n2)
	print(args)
	for i in args:
		multiply*=i
	return multiply
print(multiply_nums(1,1,))

2
()
1

In [95]:
def multiply_nums(n1,n2,*args):
	multiply=1
	print(n1+n2)
	print(args)
	for i in args:
		multiply*=i
	return multiply
print(multiply_nums(1,1,3,4))

2
(3, 4)
12

In [98]:
def multiply_nums(*args):
	multiply=1
	print(args)
	for i in args:
		multiply*=i
	return multiply
nums=[2,3,4]
print(multiply_nums(nums))
print(multiply_nums(*nums)) #this star will unpack the list items

([2, 3, 4],)
[2, 3, 4]
(2, 3, 4)
24

In [99]:
def to_power(num,*args):
	if args:
		return[i**num for i in args]
	else:
		print("you didn't pass any args")
nums=[2,3]
print(to_power(2,*nums))
print(to_power(2,*[2,3]))

[4, 9]
[4, 9]

In [103]:
def func(**kwargs):
	print(kwargs)
	print(type(kwargs))
func(first_name='harshit',last_name='vashistha')

{'first_name': 'harshit', 'last_name': 'vashistha'}
<class 'dict'>

In [105]:
def fun(**kwargs):
	for k,v in kwargs.items():
		print(f"{k}:{v}")
fun(first_name='ashwani',last_name='kumar')

first_name:ashwani
last_name:kumar

In [106]:
def fun(num, **kwargs):
	for k,v in kwargs.items():
		print(f"{k}:{v}:{num}")
fun('mohit',first_name='ashwani',last_name='kumar')

name:harshit:mohit
age:24:mohit

In [110]:
def fun(num, **kwargs):
	for k,v in kwargs.items():
		print(f"{k}:{v}:{num}")
d={'name':'harshit','age':24}
fun('mohit',**d)	#unpack dictionary items

name:harshit:mohit
age:24:mohit

In [111]:
def func(name='unknown',age=24):
	print(name)
	print(age)
func('harshit',25)
func()

harshit
25
unknown
24

In [112]:
def func(name,*args,last_name='unknown',**kwargs):
	print(name)
	print(args)
	print(last_name)
	print(kwargs)
func('harshit',1,2,3,a=1,b=2)

harshit
(1, 2, 3)
unknown
{'a': 1, 'b': 2}

In [114]:
def func(l,**kwargs):
	if kwargs.get('reverse_str')==True:
		return [name[::-1].title() for name in l]
	else:
		return [name.title() for name in l]
names=['ashwani','kumar']
print(func(names,reverse_str=True))

['Inawhsa', 'Ramuk']

In [115]:
def new_add(*args):
	total=0
	for num in args:
		total+=num
	return total
# print(new_add(1,2,3,4,5,6,7,8,9))
l=[1,2,3,4]
print(new_add(*l))	#unpack

10

In [123]:
add=lambda a,b,c:a+b+c
print(add(1,2,3))
multiply=lambda a,b,c:a*b*c
print(multiply(1,2,3))
divide=lambda a,b:a/b
print(divide(4,2))

6
6
2.0

In [124]:
is_even=lambda a:a%2==0
print(is_even(6))

True

In [125]:
last_char=lambda s:s[::-1]
print(last_char('ashwani'))

inawhsa

In [129]:
func=lambda s:True if len(s)>5 else False
print(func('abcdefr'))
func=lambda s:len(s)>5
print(func('abcdefr'))

True
True

In [131]:
names=['ashwani','sumit','amit']
for pos,name in enumerate(names):
	print(f"{pos}--->{name}")

0--->ashwani
1--->sumit
2--->amit

In [135]:
def find_pos(l, target):
	for pos,name in enumerate(l):
		if name==target:
			return pos
	return -1			
name=['ashwin','ashwani kumar','ashwani']
print(find_pos(name,input('enter target name:')))

enter target name:ashwani kumar
1

In [138]:
numbers=[1,2,3,4]
def square(a):
	return a**2
squares=list(map(square,numbers))
print(squares)
# or
print(list(map(lambda a:a**2,[1,2,3,4])))

[1, 4, 9, 16]
[1, 4, 9, 16]

In [139]:
numbers=[1,2,3,4]
squares_new=[i**2 for i in numbers]
print(squares_new)

[1, 4, 9, 16]